.slick-dots {
    bottom: 14px;
}

.slick-dots li button:before {
    font-size: 12px;
    color: white;
}

.slick-dots li.slick-active button:before {
    color: white;
}

.testimonials_image {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}

.testimonials_desc {
    text-align: right;
    color: #817d7d;
    padding: 0 40px;
}

.testimonials_desc>p:nth-child(1) {
    font-size: 1.2vw;
}

.testimonials_desc>p:nth-child(2) {
    font-weight: bold;
}


/* Service */

.aboutTopImage {
    min-height: 88vh;
    width: 100%;
    filter: brightness(0.5);
    object-fit: cover;
}

.aboutTopCard {
    position: absolute;
    top: 45%;
    left: 12%;
    right: 35%;
    width: auto;
    min-height: 300px;
    z-index: 99;
    margin-bottom: 40px;
}

.heading-1 {
    font-size: 4.5vw;
    font-weight: 700;
    color: white;
    line-height: 1.7;
}

.divider {
    border: 4px solid #70e9f1;
    border-radius: 20px;
    width: 60%;
    margin-bottom: 53px;
    background: #70e9f1;
}

.para-1 {
    box-shadow: 3px 3px 6px 0 #0000003d;
    background: white;
    padding: 40px 60px;
    font-size: 1.2vw;
    text-align: justify;
    border: 1px solid white;
}

.sectionImage {
    min-width: 50%;
}

.leftSectionImage {
    width: 100%;
    min-height: 100%;
}

.sectionDesc {
    padding: 35px;
    text-align: justify;
}

.para {
    font-size: 1.2vw;
    padding: 0 30px;
    margin-bottom: 2px;
    margin-top: 14px;
    color: white;
}

.customIcon {
    width: 60%;
    stroke: #70e9f1;
    border-bottom: 2px solid #70e9f1;
    padding-bottom: 11px;
}

.serviceIndImage {
    width: 300px;
    height: 300px;
    transform: translate(30px, 30px);
    position: relative;
}

.serviceIndShade {
    width: 300px;
    height: 300px;
    position: absolute;
    top: 0;
    left: 0;
    background: lightgrey;
    z-index: -1;
}

.contactImage {
    min-height: 88vh;
    width: 100%;
    filter: brightness(0.5);
    z-index: -1;
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.extralayer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: linear-gradient( 270deg, rgba(255, 255, 255, 0) 0.15%, rgba(154, 229, 253, 0.49) 14.08%, rgba(69, 178, 212, 0.883495) 53.88%, #1f9ac1 95.67%);
}

.contactTextContainer {
    position: absolute;
    top: 30%;
    left: 15%;
    width: 700px;
    height: 200px;
    color: white;
    z-index: 99;
}

.contactTitle {
    color: white;
    font-weight: 500;
    font-size: 24px;
}

.contactInfo {
    color: white;
    font-size: 40px;
    font-weight: 600;
}

.contactFormTitle {
    font-size: 24px;
    font-weight: 500;
    text-align: center;
    padding: 0 20%;
}

.formContainer {
    width: 100%;
    flex: 1;
}

.formInputs {
    display: inline-flex;
    max-width: 500px;
    align-items: center;
    height: 100%;
}

.formInputs>label {
    color: #373A40;
    font-size: 20px;
    font-weight: 500;
    width: 80%;
}

.formInputs>.contactInputs {
    border: none;
    border-bottom: 2px solid #373A40;
    margin: 12px 0;
    width: 80%;
    font-size: 16px;
}

.formInputs>.contactInputs:focus {
    outline: none;
}

.formInputs>button {
    border: 4px solid #70E9F1;
    color: #70E9F1;
    background: white;
    margin: 30px 0;
    padding: 12px;
    width: 80%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.formInputs>button:hover {
    border: 4px solid #70E9F1;
    color: white;
    background: #70E9F1;
}

.formImageContainer {
    max-width: 30%;
    border-left: 1px solid darkslategrey;
    padding-left: 20px;
}

.contactImage2 {
    width: 100%;
}

.buttonStyled {
    border: 4px solid #70E9F1;
    color: #70E9F1;
    background: white;
    margin: 30px 0;
    padding: 12px;
    width: 50%;
    font-size: 20px;
    font-weight: 800;
    cursor: pointer;
}

.buttonStyled:hover {
    border: 4px solid #70E9F1;
    color: white;
    background: #70E9F1;
}