a {
    text-decoration: none;
    color: #686D76;
    font-size:1.2vw;
    font-weight: 600;
    letter-spacing: 1px;
}

.headerLink {
    text-align: center;
}

a:hover {
    text-decoration: none;
    color: #373A40;
    text-align: center;
}

.px-5 {
    padding: 0 10%;
}

.companyName {
    padding: 0px 20px;
    font-weight: 600;
    font-size: 2vw;
    color: rgb(53 54 53 / 85%);
    text-shadow: 0px 1px 0px #014f07;
}