.footer {
    background: #70e9f1;
    color: darkslategrey;
    font-weight: 600;
    margin-top: 120px;
    min-height: 10px;
    width: 100%;
    padding: 10px 0;
    text-align: center;
}

@media screen and (max-width:768px) {
    .footer {
        margin-top: 40px;
    }
}
