.color-grey {
    color: #373A40!important;
}

.color-primary-blue {
    color: #70E9F1!important;
}

.cursorOnHover {
    cursor: pointer;
}

* {
    font-family: 'Quicksand', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: #686D76;
}

@media (prefers-reduced-motion: no-preference) {}


/* font-size: calc(10px + 2vmin); */
