.color-grey {
    color: darkgrey!important;
}

.color-primary-blue {
    color: #5ED6FC!important;
}

.cursorOnHover {
    cursor: pointer;
}

* {
    font-family: 'Dosis', sans-serif;
}

@media (prefers-reduced-motion: no-preference) {}


/* font-size: calc(10px + 2vmin); */